header {
    background-color: #1E1E1E;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist_logo {
    background-color: #1E1E1E;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    background-color: #1E1E1E;
}

.logout {
    background-color: #FF5252;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}